
<!-- <mat-divider></mat-divider>
<app-shopping-edit></app-shopping-edit>
<mat-divider></mat-divider>


<h2>Shopping list</h2> -->

<!-- on clicking an ingredient we can load it in the edit field -->
<!-- <mat-list *ngFor="let ingredient of ingredients; let i = index" (click)="onEditItem(i)">
    <mat-list-item>{{ ingredient.name }} ({{ ingredient.amount }})</mat-list-item>
</mat-list> -->


<mat-card class="body-container-solid">
    <mat-card-title class="title">Shopping list</mat-card-title>

    <div class="shopping-list-container-top">
        <div class="grid-container-shopping-list">
            <div class="item">
                <h4 class="data redLabel">Item</h4>
            </div>
            <div class="amount">
                <h4 class="data redLabel">Amount</h4>
            </div>
            <div class="edit outer">
                <mat-icon class="redIcon data">create</mat-icon>
            </div>
        </div>
    </div>
    <div class="shopping-list-container scrollbarStyle"
        *ngFor="let item of items; let i = index">
        <div class="grid-container-shopping-list scrollbarStyle oneSLitem">
            <div class="item">
                <p class="data">{{item.item}}</p>
            </div>
            <div class="amount">
                <p class="data">{{item.amount}}</p>
            </div>
            <div class="edit outer">
                <mat-icon class="redIcon data">clear</mat-icon>
            </div>
        </div>
    </div>

    <div class="add-item-container outer">
        <mat-form-field>
            <input matInput placeholder="New item">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Amount">
        </mat-form-field>

       <mat-icon class="redIcon">add_circle</mat-icon>

        <div class="outer listOptions">
                <p class="redLabel" style="margin-right:10px;">print list</p>
                <mat-icon class="redIcon">local_printshop</mat-icon>
        </div>
    </div>


</mat-card>


