.errorMessage {
    margin-top: 2px;
    margin-bottom: 2px;
    color: #c55151;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    margin-bottom:60px;
}

.mat-form-field {
    margin:20px !important;
}